div.container
    div
        p 
            storng ID: #{contact.id}
        p 
            storng First Name: #{contact.fName}
        p 
            storng Last Name: #{contact.lName}
        p 
            storng Email: #{contact.email}
        p 
            storng Notes: #{contact.notes}
        p 
            storng Created: #{contact.modified}

    div.d-flex.align-items-end
        button.btn.btn-primary Back
        button.btn.btn-secondary.ms-2 Edit
        button.btn.btn-danger.ms-2 Delete

