extends ../layout

block content
    div.container
        div(class='d-flex justify-content-end')
            a(class='btn btn-primary' href="/contacts/add") Add
        table.table
            thead
                tr
                    th S.No
                    th Contact ID
                    th First Name
                    th Last Name
                    th Email address
                    th Notes
                    th actions
            tbody
                if contacts && contacts.length
                    each item, index in contacts
                        tr
                            td= index + 1
                            td= item.id
                            td
                                a(href=`/contacts/${item.id}`) #{item.fName}
                            td= item.lName
                            td= item.email
                            td= item.notes
                            td 
                                a.btn.btn-secondary(href=`/contacts/${item.id}/edit`) Edit
                                // Add the delete form
                                form(style='display:inline-block', method='post', action=`/contacts/${item.id}/delete`)
                                    button.btn.btn-danger.ms-1(type="submit") Delete
                else
                    tr
                        td No records found
                    